.about {
	padding: 53px 69px 92px 75px;
}

.about__title {
	font-size: 48px;
	font-weight: bold;
}

.about__title span {
	position: relative;
}

.about__title span::after {
	content: '';
	height: 4px;
	width: 100%;
	border-radius: 12px;
	background-color: rgb(64, 204, 247);
	position: absolute;
	bottom: -8px;
	left: 0;
}

.about__content {
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__slider .carousel-inner {
	background-color: rgba(143, 143, 143, 0.1);
	border-radius: 24px;
	padding: 40px;
	position: relative;
}

.about__slider .carousel-item {
	width: 400px;
	max-height: 180px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.carousel-link {
	position: absolute;
	left: -20px;
	top: -20px;
}

.carousel-icon--right {
	position: absolute;
	right: -20px;
	top: -20px;
}

.carousel-item-content {
	padding: 0 20px;
	margin-top: 30px;
}

.about__slider .carousel-item img {
	max-width: 360px;
}

.about__slider .carousel-caption {
	position: initial;
	padding-bottom: 0;
	margin-bottom: 8px;
}

.carousel-position {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
}

.carousel-position img {
	margin-right: 10px;
}

.carousel-year {
	margin-bottom: 0;
	line-height: 1;
	font-weight: lighter;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-year img {
	margin-right: 10px;
}

.about__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 90px;
	max-width: 670px;
	text-align: center;
}

.about__info-title {
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 50px;
}

.about__text {
	font-size: 18px;
	margin-bottom: 50px;
	max-height: 290px;
	overflow-y: auto;
}

.about__text::-webkit-scrollbar {
	width: 6px;
	border-radius: 25px;
	background-color: rgba(143, 143, 143, 0.1);
}

.about__text::-webkit-scrollbar-thumb {
	height: 100px;
	border-radius: 25px;
	background-color: rgb(64, 204, 247);
}

@media screen and (max-width: 992px) {
	.about-download {
		font-size: 20px;
	}
}
